body {
	background-color: rgb(0,43,255);
	background: -webkit-linear-gradient(to right, rgb(0, 42, 255), rgb(255, 0, 0));  
	background: linear-gradient(to right, rgb(0, 42, 255), rgb(255, 0, 0));
}

#container {
	text-align: center;
	width: 400px;
	/*By assigning auto, the available horizontal space in the element's 
	container is distributed equally – and thus the element gets centered*/
	margin: 100px auto;
}

#userInput {
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	outline: none;
	font-size: 1.5em;
	/*opacity: 0.5;*/
}

::placeholder {
	color: white;
}

h1 {
	text-transform: uppercase;
	font-size: 40px;
	color: white;
}

span {
	border-bottom: 8px solid white;
}

input {
	text-align: center;
	width: 400px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	border: 0px none;
	/*border-box tells the browser to account for any border and 
	padding in the values you specify. If you set an element's 
	width to 100 pixels, that 100 pixels will include any 
	border or padding you added, and the content box will 
	shrink to absorb that extra width.*/
	box-sizing: border-box;
}

button {
	background-color: white;
	box-sizing: border-box;
	font-size: 18px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 8px;
	border: 0px none;
	color: black;
}

.fas {
	color: rgb(255, 150, 150);
}

.cross {
	text-decoration: line-through;
	color: grey;
}

ul {
	/*Remove the bullets from list*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	outline: none;
	font-size: 1.5em;
	/*Combining height and line-height to 40px 
	increases line height and centers the text*/
	height: 40px;
	line-height: 40px;
}

/* Selects the second element in a list if that element is a <li> */
li:nth-child(2n) {
	background-color: rgba(200, 200, 200, 0.3);
}



